.status {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.pause-btn, .reset-btn {
    flex: 1;
}

.timer-actions {
    margin: 2rem auto 0;
    width: 70%;
}

.start-btn {
    background: var(--dark-blue);
    color: var(--white);
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: large;
}

.pause-btn, .reset-btn {
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: large;
    padding: 0.5rem;
}

.pause-btn {
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    margin-right: 1rem;
}


.reset-btn {
    border: 2px solid var(--yellow);
    color: var(--yellow);
    margin-left: 1rem;
    font-weight: 600;
}
  
  .progress-ring {
    display: grid;
    place-items: center;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    box-shadow: -5px 14px 44px var(--dark-blue), 5px -16px 50px var(--transparent);
    background: var(--white);
    margin: auto;
  }
  
  .timer {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    background: var(--timer-gradient);
    box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
  }
  
#time {
    width: 300px;
    text-align: center;
}
  
#time span {
    display: inline;
    font-size: 6rem;
    letter-spacing: 0.1em;
    text-shadow: var(--text-shadow)
}

@media screen and (max-width: 860px) {
    .progress-ring {
        width: 20rem;
        height: 20rem;
    }

    .timer {
        width: 18.5rem;
        height: 18.5rem;
    }

    #time span {
        font-size: 5rem;
    }
}

@media screen and (max-width: 420px) {
    .progress-ring {
        width: 16rem;
        height: 16rem;
    }

    .timer {
        width: 15rem;
        height: 15rem;
        padding: 0;
    }

    #time span {
        font-size: 4rem;
      }
}

@media screen and (max-width: 380px) {
    .progress-ring {
        width: 14rem;
        height: 14rem;
    }

    .timer {
        width: 13rem;
        height: 13rem;
        padding: 0;
    }

    #time span {
        font-size: 3rem;
    }
}