
.greetings {
    text-align: center;
    margin: 2rem 0 3rem;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    border: 2px solid var(--light-gray);
    border-radius: 0.5rem;
    padding: 1.5rem;
    min-height: 20rem;
    background: var(--bg-dark);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.task-list-header {
    justify-content: space-between;
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.task-list-header > span {
    font-size: 1.5rem;
    font-weight: bold;
}

.add-task-btn {
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5rem;
    margin: auto 0;
}

.task-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
}

.task-item:hover {
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
}

.task-actions {
    padding: 0.5rem 1rem;
}

.edit-btn {
    padding-right: 1rem;
    color: var(--theme-text-color);
}

@media screen and (max-width: 620px) {

    .task-list-container {
        width: 90%;
    }
    
}

@media screen and (max-width: 420px) {
    .task-item {
        flex-wrap: wrap;
        justify-content: center;
    }
}