@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --dark-blue:#161d6F;
    --sky-blue: #98ded9;
    --light-blue: #f0fff4;
    --yellow: #f3af29;
    --green: #48f046;
    --white: #ffffff;
    --black: #0f0f0f;
    --gray: #5d5d5d;
    --light-gray: #d3d3d3;
    --bg-overlay: #80808061;
    --default-ring: #ffffff;
    --blue-ring: #161d6F;
    --green-ring: #48f046;
    --timer-gradient: radial-gradient( 71.4% 71.4% at 51.7% 28.6%,#e9fffd 0%,#affff9 100%  );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: var(--light-blue);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.p-1 {
    padding: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.m-1 {
    margin: 1rem;
}


.width-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

.input {
    border: none;
    border-bottom: 1px solid var(--light-gray);
    outline: none;
    padding: 0.5rem;
    margin: 1rem 0;

}
