.task-timer-container {
    border: 2px solid var(--light-gray);
    border-radius: 0.5rem;
    background: var(--white);
    padding: 1.5rem;
    margin: 3rem auto 0;
    width: 70%;
    min-height: 25rem;
}

.task-not-found {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    text-shadow: var(--text-shadow)
}

.task-timer{
    flex: 2;
}

.task-details{
    flex: 1;
}

.task-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.task-details {
    padding: 1rem;
    border-left: 2px solid var(--light-gray);
}


@media screen and (max-width: 1024px) {
    .task-timer-container {
        width: 90%;
    }
}

@media screen and (max-width: 720px) {
    .task-timer-container{
        flex-direction: column;
    }

    .task-details {
        padding: 1rem;
        margin-top: 2rem;
        border-left: 0;
        border-top: 2px solid var(--light-gray);
    }
}